html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    background-color:#5e62a9;   
    
    margin:50px;
}
h1{
    color:#ffffff;
    border:8px solid ;
    border-bottom:7px double  ;
    border-radius: 5px;
    width:fit-content;
    margin:0 auto;
    padding:10px 50px ;
}

ul{ 
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;   
    padding:0;
    
}

h2{
    margin:0;   
}

li{  
    flex:0 0 30%;
    text-align: center;
    width:400px;
    margin:20px;
    border-top: 4px solid rgb(0, 0, 0);    
    padding:10px;
    border-bottom: 4px solid rgb(190, 75, 243);    
    border-radius: 15px;
    background-color: rgb(42, 62, 130);
}
 
li a {
    
    color:#ffe015;
    text-decoration: none;
}

li:hover{
    background-color:#6e27b5de ;
}
   

